body{
    font-family: sans-serif;
    background: #201E43 !important;
}
.sidebar {
    height: 100vh;
    background-color: #f7f8fb;
    padding: 20px;
    color: #333 !important;
    position: fixed;
    overflow-y: auto;
    box-sizing: border-box;
}
.sidebar h3, .sidebar h4, .sidebar h5, .sidebar h6 {
    text-align: left;
    font-size: 1.1rem;
    color: #333;
}
.sidebar img {
    display: block;
    margin: 2rem auto;
    width: 100px; /* Adjust based on your image */

}
.nav-link {
    color: #333 !important;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.nav-link a{
    color: #0d6efd !important;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.nav-link:hover {
    background-color: #e0e1e6;
    color: #0d6efd !important;
    border-radius: 5px;
}
.sidebar-footer {
    margin-top: auto;
    padding-top: 20px;
}
.btn-create-article {
    background-color: #2d2e50;
    color: #fff;
    width: 100%;
    margin: 10px 0 30px 0;
}

/* Login css */

.login-main{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 12% 35%;
    font-family: sans-serif;
    flex-direction: column;
    align-items: flex-start;
    //gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    background: #201E43;
}
.login-main-container{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    gap: 60px;
    background: #201E43;
}
.login-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.login-main-container h1{
    color: #FFF;
    /* Title */
    font-family: sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.login-logo{
    width: 56px;
    height: 52px;
}
.login-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.login-form-container h2{
    color: #FEFDFD;
    /* Subtitle */
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.login-form-container form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.login-form-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.login-form-button-container a{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    /* Light Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
    letter-spacing: 1px;
}
.login-form-button-container button{
    display: flex;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FBFBFB;
}
.login-form-container form button{
    display: flex;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FBFBFB;
}
.login-form-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.login-form-input-container input{
    background: transparent;
    display: flex;
    width: 401px;
    padding: 12px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #FBFBFB;
    opacity: 0.75;
    color: #FFFFFF;
    letter-spacing: 1px;
}

/* Gestionar Productos CSS */

.main-productos-container{
    width: 100%;
    height: 1269px;
    background: #201E43;
}
.product-form-container{
    display: flex;
    width: 1036px;
    padding: 12px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #201E43;
    gap: 20px;
}
.product-form-container h1{
    align-self: stretch;
    margin-top: 50px;
    color: #FFF;
    /* Subtitle */
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.product-form-container h3{
    color: #FFF;

    /* Subtitle 2 */
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.product-form-container form, .form-att{
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    gap: 12px;
    align-self: stretch;
    flex-wrap: wrap;
}
.product-form-container form button{
    display: flex;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: #FBFBFB;
}
.product-input-container{
    display: flex;
    height: 66px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}
.product-input-container label{
    color: #FFF;
    /* Subtitle 3 */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.product-input-container input, .product-input-container select{
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #FBFBFB;
    opacity: 0.75;
    color: #FBFBFB;
    /* Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent;
}
.product-input-container select option{
    background: #FBFBFB;
    color: #201E43;
}
.product-input-container2{
    display: flex;
    width: 1036px;
    height: 66px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}
.product-input-container2 label{
    color: #FFF;
    /* Subtitle 3 */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.product-input-container2 input{
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: #FBFBFB;
    /* Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #FBFBFB;
    opacity: 0.75;
}

.product-searchProduct-container{
    display: flex;
    width: 1036px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.product-searchProduct-container h3{
    color: #FFF;
    /* Subtitle 2 */
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.product-searcher-container{
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}
.product-searcher-container input{
    display: flex;
    width: 920px;
    padding: 12px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #FBFBFB;
    background: transparent;
    opacity: 0.75;
    color: #FBFBFB;
    /* Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product-searcher-container button{
    display: flex;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #FBFBFB;
    color: #201E43;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.product-products-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 64px;
    padding: 40px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 32px;
    align-self: stretch;
    border-radius: 8px;
    background: #FBFBFB;
}

.product-card-container{
    display: flex;
    flex-direction: column;
    padding: 21px 22px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid rgb(200, 200, 200); /* Color de borde más suave */
    background: #FFFFFF; /* Fondo blanco para mayor claridad */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */

}

.product-card-container2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
}
.product-card-information{
    display: flex;
    flex-direction: column;
    gap: 16px; /* Ajustar el espacio entre elementos */
    align-self: stretch;
}
.product-text-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}
#imagenProducto{
    width: 405px !important;
}
.product-card-information div h4{
    color: #333; /* Color más oscuro para mejor contraste */
    font-family: 'Roboto', sans-serif; /* Consistencia en la tipografía */
    font-size: 20px; /* Aumentar el tamaño para mayor impacto */
    font-weight: 700;
    line-height: 1.2; /* Mejorar la legibilidad */
}
.product-card-information div span{
    color: #555;
    /* Light Paragraph 2 */
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}
.product-card-information img{
    width: 100%;
    max-height: 150px;
    border-radius: 8px;
    object-fit: cover;
    background: #FBFBFB;
}
.product-card-actions {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    align-items: center;
    color: white;
    border-radius: 12px;
}

.product-card-actions div {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    padding: 8px;
    border-radius: 8px;
    background: #454281;
    gap: 8px; /* Espaciado entre ícono y texto */
    color: #FFF;
    font-size: 14px;
    transition: width 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
    width: 40px; /* Tamaño inicial ajustado al ícono */
    height: 40px; /* Tamaño fijo para mantener el diseño */
    overflow: hidden; /* Oculta el texto cuando no está visible */
    white-space: nowrap; /* Evita que el texto se divida */
    position: relative; /* Para controlar el posicionamiento interno */
}

.product-card-actions div:hover {
    transition: width 0.3s;
    cursor: pointer;
    background: #6864cf;
    width: 110px;
    justify-content: flex-start;
}

.product-card-actions div span {
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: opacity 0.5s ease, transform 0.3s ease;
    transform: translateX(-10px);
}

.product-card-actions div:hover span {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.product-card-actions div i {
    font-size: 18px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 7px;
}

.product-action-delete{
    transition: background 0.5s;
    background: #a64848 !important;
    border: 0.5px solid #FFF !important;
}
.product-action-delete:hover {
    transition: background 0.5s;
    background: #c66464 !important;

}

    /* Gestionar Atributos */
.atributos-container{
    display: flex;
    width: 1036px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.atributos-container h1 {
    align-self: stretch;
    color: #FFF;
    /* Subtitle */
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
}
.atributos-selection-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}
.atributos-navbar-container{
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0;
    background: #FBFBFB;
}
.atributos-navbar-container div{
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    //border: 1px solid #FBFBFB;
    //background: #FFF;
    color: #201E43;
    /* Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.navbar-presentacion:hover, .navbar-unidadmedida:hover, .navbar-categoria:hover{
    background: #201E43;
    color: #FBFBFB;
    cursor: pointer;
    border: 1px solid #FBFBFB !important;
    border-radius: 8px 8px 0 0;
}
.atributos-selection-main-content{
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    border-radius: 0 8px 8px 8px;
    background: #FBFBFB;
    display: none;
}
.showContent{
    display: flex;
}
.selected-tab{
    background: #201E43;
    color: #FBFBFB !important;
    border: 1px solid #FBFBFB !important;
    border-radius: 8px 8px 0 0;
}
.atributo-input-container{
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: linear-gradient(94deg, #DCDCDC 0%, #E4E4E4 100%);
}
.atributo-input-container-title{
    color: #696969;
    /* Light Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.atributo-actions{
    display: flex;
    gap: 4px;
}
.atributo-actions div:hover{
    cursor: pointer;
}

.product-action-edit:hover{

}
#button-att,#button-att2 {
    display: flex;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FBFBFB;
}

/* Configuración usuario */
.user-main-container{
    display: flex;
    align-items: flex-start;
    gap: 64px;
}
.user-form-container{
    display: flex;
    width: 731px;
    padding: 32px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.user-editinfo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.user-editinfo-container h1{
    color: #FFF;
    /* Subtitle */
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.user-editinfo-container h3{
    color: #FFF;
    /* Subtitle 2 */
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.user-personalinfo-form-container{
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    gap: 12px;
    align-self: stretch;
    flex-wrap: wrap;
}
.user-personalinfo-form-container div label{
    color: #FFF;
    /* Subtitle 3 */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.personalinfo-tel-container,.personalinfo-residencia-container,.personalinfo-sexo-container,.personalinfo-edad-container,.personalinfo-dui-container,.personalinfo-tipousuario-container,.personalinfo-usuario-container,.personalinfo-email-container,.personalinfo-aditionalinfo-container,.personalinfo-button-container{
    display: flex;
    height: 66px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    color: #FBFBFB;
    /* Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent;
}
.personalinfo-tel-container{
    width: 252px;
}
.personalinfo-residencia-container{
    width: 466px;
}
.personalinfo-sexo-container{
    width: 160px;
}
.personalinfo-edad-container{
    width: 144px;
}
.personalinfo-dui-container{
    width: 174px;
}
.personalinfo-tipousuario-container{
    display: flex;
    height: 66px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}
.personalinfo-usuario-container{
    width: 228px;
}
.personalinfo-email-container{
    width: 491px;
}
.personalinfo-aditionalinfo-container{
    width: 731px;
}

.personalinfo-button-container{
    display: flex;
    padding: 9px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}
.personalinfo-button-container button{
    display: flex;
    height: 43px;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    align-self: stretch;
    color: #201E43;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    background: #FBFBFB;
}
#personalinfo-tel,#personalinfo-residencia,#personalinfo-sexo,#personalinfo-edad,#personalinfo-dui,#personalinfo-tipousuario,#personalinfo-usuario,#personalinfo-email,#personalinfo-aditionalinfo{
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #FBFBFB;
    opacity: 0.75;
    background: transparent;
    color: #FFF;
}
select option{
    color: #201E43;
}

.user-passwordreset-container{
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: #FFF;
}
.user-passwordreset-container-background{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.user-passwordreset-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}
.user-passwordreset-form-container h3{
    color: #201E43;
    /* Subtitle 3 */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.user-passwordreset-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
#currentpassword{
    display: flex;
    width: 339px;
    height: 43px;
    padding: 12px;
    align-items: center;
    gap: 10px;
}
.user-passwordreset-form div{
    display: flex;
    width: 685px;
    align-items: flex-start;
    gap: 8px;
}
.user-passwordreset-form input{
    display: flex;
    width: 339px;
    height: 43px;
    padding: 12px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #201E43;
    opacity: 0.75;
}
.user-passwordreset-form div input{
    display: flex;
    height: 43px;
    padding: 12px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #201E43;
    opacity: 0.75;
    color: #201E43;
    /* Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.user-passwordreset-container-background button{
    display: flex;
    width: 197px;
    height: 38px;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #201E43;
    color: #FBFBFB;
    /* Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-information-container-background{
    display: flex;
    width: 306px;
    height: 997px;
    padding: 32px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background:#FBFBFB;
}
.user-information-container{
    display: flex;
    padding: 32px 0;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
}
.user-personalinformation-container{
    display: flex;
    height: 377px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}
.user-personalinformation-picture{
    display: flex;
    width: 129px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.user-personalinformation-picture img{
    height: 129px;
    background: dimgrey;
    align-self: stretch;
    border-radius: 100px;
    //background: url(<path-to-image>) lightgray -25.175px -9.038px / 139.17% 114.103% no-repeat;
}
.user-personalinformation-picture button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 8px;
    border-radius: 8px;
    background: #201E43;
    color: #FBFBFB;
    /* Paragraph 2 */
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.user-personalinformation-picture h3{
    color: #000;
    text-align: center;
    /* Subtitle 3 */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.user-personalinformation-data{
    display: flex;
    padding: 9px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.personalinformation-data{
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid #696969;
}
.personalinformation-data h3 {
    color: #000;
    text-align: center;
    /* Subtitle 3 */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.personalinformation-data p{
    color: #000;
    text-align: center;
    /* Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.user-generalinformation-container{
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}
.generalinformation-title{
    display: flex;
    padding: 12px 8px;
    align-items: center;
    gap: 28px;
    align-self: stretch;
}
.generalinformation-title h3{
    width: 100%;
    color: #000;
    text-align: center;
    /* Subtitle 3 */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.generalinformation-data,.generalinformation-data-vertical{
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid #696969;
}
.generalinformation-data h3{
    color: #000;
    text-align: center;
    /* Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.generalinformation-data p{
    color: #000;
    text-align: center;
    /* Light Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.generalinformation-data-vertical{
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.generalinformation-data-vertical h3{
    color: #000;
    text-align: center;
    /* Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.generalinformation-data-vertical p{
    color: #000;
    /* Light Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* Registro de usuario */

.registro-main-container{
    display: flex;
    width: 937px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.registro-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.registro-title-container h1{
    color: #FFF;
    /* Subtitle */
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.registro-form-background{
    display: flex;
    padding: 16px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: #FBFBFB;
}
.registro-main-container{
    display: flex;
    padding: 16px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.registro-title-container h3{
    color: #201E43;
    /* Subtitle 2 */
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.registro-form-container{
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    gap: 12px;
    align-self: stretch;
    flex-wrap: wrap;
}
.registro-form-nombres,registro-form-tipousuario,registro-form-email,registro-form-usuario,registro-form-password{
    display: flex;
    width: 258px;
    height: 66px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}
.registro-form-label{
    color: #201E43;
    /* Subtitle 3 */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.registro-form-container div input, .registro-form-container div select{
    display: flex;
    width: 100%;
    padding: 12px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #201E43;
    opacity: 0.75;
    color: #201E43;
    /* Paragraph */
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.registro-form-container div select option{
    background: #FFFFFF;
}
.registro-form-tipousuario{
    width: 223px;
}
.registro-form-email{
    width: 300px;
}
.registro-form-usuario{
    width: 258px;
}
.registro-form-password{
    width: 243px;
}
.registro-form-button{
    display: flex;
    width: 182px;
    height: 43px;
    padding: 8px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}
.registro-form-button button {
    display: flex;
    height: 43px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 8px 0;
    flex: 1 0 0;
    color: #FBFBFB;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    background: #201E43;
}
